@import "../../../styles/vars.less";
.orders-page {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  .order-entry {
    border: 1px solid rgba(@@theme-accent-line-2, 50%);
    border-radius: 0.625rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;

    h1 {
      font-size: 1.75rem;
      font-weight: 700;
      text-decoration: underline;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 400;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & > p {
    color: @@theme-text-on-background-1;
    font-size: 1rem;
  }
}
