@import "../../../styles/vars.less";

.orders-page {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  .order-entry {
    border: 1px solid var(--theme-accent-line-1-transparent);
    border-radius: 0.625rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;

    h1 {
      font-size: @general-heading-2-3;
      font-weight: 700;
      text-decoration: underline;
    }

    h3 {
      font-size: @general-heading-3-4;
      font-weight: 400;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & > p {
    color: var(--theme-text-on-background-1);
    font-size: 1rem;
  }
}
