@import '../../styles/vars.less';

.Profile-Page {
  .title {
    font-size: @general-heading-1;
    font-weight: 700;
  }
  .name {
    font-size: @general-heading-2;
    line-height: 115px;
    margin-right: 24px;
  }
  .avatar-flex {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    width: 100%;
  }
  .level-info {
    width: auto;
    margin-top: 18px;
    max-width: 256px;
    .rank {
      font-size: @general-body;
    }
    .level-stats {
      span {
        font-size: @general-body;
      }
    }
    .experience {
      float: right;
    }
  }
  .meta-data {
    margin-top: 24px;
    font-size: @general-body;
  }
}
