@import '../../styles/vars.less';

.collection {

    .collection-info {
        margin: 15px 0px;
    }

    h2 {
        font-size: @general-heading-2;
        font-weight: bold;
        width: 100%;
    }

    p {
        width: 100%;
        font-size: @general-body;
    }

    margin-bottom: 65px;
}