@import '../../styles/fonts.less';
@import '../../styles/vars.less';

.leaderboard-card {
  background-color: @blue-3;
  border-radius: 10px;
  font-family: 'Nunito';
  height: @leaderboard-card-height;
  overflow: hidden;
  position: relative;
  width: @leaderboard-card-width;

  > * {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    position: absolute;
  }

  .leaderboard-card-left {
    color: rgba(51, 51, 51, 0.3);
    font-size: 5rem;
    font-weight: 500;
    left: 0;
    width: 40%;

    &.first {
      background-color: #ffda55;
    }

    &.second {
      background-color: #c5d9df;
    }

    &.third {
      background-color: #e9cc9e;
    }
  }

  .leaderboard-card-right {
    color: white;
    flex-wrap: wrap;
    -ms-overflow-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5% 5px;
    right: 0;
    scrollbar-width: none;
    text-align: center;
    width: 60%;

    > * {
      color: white;
      flex: 1 100%;
      margin-bottom: 0;
    }

    h1 {
      font-size: @card-heading-1;
    }

    .name:hover {
      color: @gold;
    }

    h2 {
      font-size: @card-heading-2;
    }

    h3 {
      font-size: @card-heading-3;
    }
  }

  .leaderboard-card-right::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}
