@import '../../../styles/vars.less';

.navbar-vertical {
  &-padding {
    width: 14rem;
  }

  &-content {
    background-color: #f8f8f8;
    border-right: 1px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem - 0.25rem); // TODO: Make navbar scrollable.
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    width: 14rem;
  }

  &-title {
    color: #c4c4c4;
    font-size: 1.25rem;
    font-weight: 700;
  }

  &-group {
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &-items {
    padding-left: 0.5rem;
  }
}
