@import '../../styles/vars.less';

.admin-orders {
  .store-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 5%;

    .title {
      font-size: @general-heading-1;
      font-weight: 700;
    }

    .admin-redirect-button {
      font-size: @card-heading-1 * 1.25;
      height: @card-heading-1 * 1.5;
      min-width: @button-width * 0.65;
    }
  }

  .search-section {
    max-width: 500px;
    min-width: 50px;

    .button-array {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 26px;

      .tag-button {
        margin-left: 10px;
        margin-right: 10px;
      }

      .first-button {
        margin-left: 0 !important;
      }
    }
  }
}
