@import '../../styles/vars.less';

.store-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.title {
  font-size: @general-heading-1;
  font-weight: 700;
}

.admin-redirect-button {
  font-size: @card-heading-1 * 1.25;
  height: @card-heading-1 * 1.5;
  margin-right: 12px;
  min-width: @button-width;
}
