.card {
    width: 400px;
    height: 200px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    background-color: #2c72c6;
    border-radius: 10px;
    justify-content: center;
    // align-items: center;

    h1 {
        font-weight: 700;
        margin: 20px 0px;
        color: #fff;
    }

    .inputbox {

        *{
            border-radius: 10px;
        }

        .input {
            width: 200px;
            color: rgba(44, 114, 198, 0.5);
            border: none;
        }

        .submit {
            width: calc(100% - 220px);
            height: 40px;
            padding: 6px 11px;
            margin-left: 20px;
            border: 2px solid #0659BC;
            color: #fff;
            background-color: #22acea;
        }
    }

}




