@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";

.password-card {
  padding-top: 64px;

  .title {
    font-size: @card-title-px;
    font-weight: 500;
    margin: 24px 0;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .email-container {
    position: relative;

    .icon {
      color: var(--theme-text-on-background-1);
      left: 8px;
      position: absolute;
      top: 6.5px;
    }

    .input-box {
      background-color: var(--theme-background);
      border: none;
      border-bottom: 1px solid var(--theme-text-on-background-1);
      color: var(--theme-text-on-background-1);
      font-size: @card-input-box-px;
      height: 28px;
      margin-bottom: 20px;
      padding-left: 34px;
      width: 300px;
    }
  }

  .submit {
    .button-hover();

    background-color: var(--theme-primary-2);
    border: none;
    border-radius: 100px;
    color: white;
    font-size: @card-submit-px;
    font-weight: 700;
    height: 40px;
    margin-bottom: 20px;
    width: 300px;
  }
}
