@import '../../styles/fonts.less';
@import '../../styles/vars.less';

.checkin-card {
  max-width: @db-card-width;
  height: @db-card-height;
  font-family: 'Nunito', sans-serif;
  display: flex;
  background-color: @blue-3;
  border-radius: 10px;
  justify-content: center;
  margin: 0;

  h1 {
    color: @white;
    font-size: @card-heading-1;
    font-weight: 700;
    margin: 20px 0px;
  }

  .inputbox {

    * {
      border-radius: 10px;
    }

    .input {
      max-width: 200px;
      color: @blue-3;
      border: none;
      margin-right: 20px;
      margin-bottom:5px;
    }

    .submit {
      width: calc(100% - 220px);
      height: 40px;
      padding: 6px 11px;
      min-width: 100px;
      border: 2px solid @blue-2;
      color: @white;
      background-color: @blue-1;
    }
  }
}
