body {
  margin: 0px;
  background-image: url('../../assets/diamondbackground.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .content {
    height: 100vh;
    display
  }
}
