@import '../../../styles/vars.less';
.BreadPage {
  padding: 2rem;
  background-color: @blue-4;
  background-image: url('../../../assets/graphics/background.svg');
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  h1 {
    font-size: @general-heading-1;
    font-weight: 700;
  }
  .iframe-container {
    width: 100%;
    height: calc(100vh - 12rem);
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}