@import '../../../styles/vars.less';

.BreadPage {
  background-color: @blue-4;
  background-image: url('../../../assets/graphics/background.svg');
  background-size: cover;
  min-height: 100vh;
  padding: 2rem;
  width: 100vw;

  h1 {
    font-size: @general-heading-1;
    font-weight: 700;
  }

  .iframe-container {
    height: calc(100vh - 12rem);
    width: 100%;

    iframe {
      height: 100%;
      width: 100%;
    }
  }
}
