@import '../../../styles/vars.less';
@import '../../../styles/mixins.less';

.content {
  overflow: hidden;
  padding: 2rem 4rem;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.content-table {
  display: table;
  width: 100%;

  > * {
    display: table-cell;
  }
}
