@import '../../styles/fonts.less';
@import '../../styles/vars.less';

.resetcard {
  align-items: center;
  background: @blue-2;
  border-radius: 10px;
  color: @white;
  display: flex;
  flex-direction: column;
  height: @reset-height;
  justify-content: center;
  width: @sign-in-width;

  label {
    color: @white;
    font-size: @general-body;
  }

  .input-box {
    height: @button-height-2;
    width: @button-width;
  }

  .logo {
    height: 115px;
    margin-bottom: 36px;
    width: 115px;
  }

  .login-button {
    background-color: @blue-1;
    border: none;
    height: @button-height;
    width: @button-width;
  }
}
