@import '../../styles/vars.less';

.store-header {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;

  .text-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .nav-title {
    background: url('../../assets/icons/store/left-arrow.svg') no-repeat center left;
    border: none;
    font-size: 2.1rem;
    font-weight: 500;
    padding: 6px 0 0 50px;
  }

  .point-checkout {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    min-width: 30%;

    p {
      font-family: 'Roboto';
    }

    .points {
      background: url('../../assets/icons/store/diamond.svg') no-repeat center left;
      background-size: 1.6rem 1.6rem;
      font-size: 2.1rem;
      font-weight: 600;
      padding-left: 1.7rem;
    }

    .cart-link {
      align-items: center;
      border: 2px @black solid;
      border-radius: 5px;
      display: flex;
      font-size: 1.6rem;
      font-weight: 500;
      margin-left: 40px;
      padding: 4px 20px 0 20px;

      .cart-icon {
        background-image: url('../../assets/icons/store/cart.svg');
        background-repeat: no-repeat;
        height: 24px;
        margin: 0 7px;
        position: relative;
        width: 24px;

        .cart-quantity {
          background-color: #e76f6f;
          border-radius: 100%;
          color: white;
          font-family: Roboto;
          font-size: 12px;
          height: 19px;
          position: absolute;
          right: -40%;
          text-align: center;
          top: -35%;
          width: 19px;
        }
      }
    }
  }

  @media (min-width: 480px) and (max-width: 1046px) {
    .text-title {
      margin: 0 auto;
    }

    .nav-title {
      margin: 0 auto;
    }

    .point-checkout {
      margin: 0 auto;
    }
  }

  @media (max-width: 480px) {
    .point-checkout {
      height: 50px;
      justify-content: space-between;
      width: 100%;

      .points {
        font-size: 1.8rem;
      }

      .cart-link {
        font-size: 1.2rem;
        padding: 4px 10px 0 10px;

        .cart-icon {
          background-size: 20px;
          height: 20px;
          width: 20px;

          .cart-quantity {
            font-size: 10px;
            height: 14px;
            width: 14px;
          }
        }
      }
    }
  }
}
