@import "../../../../styles/vars.less";

.nav-tile-item {
  display: inline-block;
  font-size: 1.2rem;
  opacity: 0.4;
  padding-top: 10px;

  .divider {
    background: var(--theme-primary-4);
    height: 5px;
    margin: 10px 0 0;
    visibility: hidden;
    width: 64px;
  }
}
