@import "../../../styles/vars.less";
.item-card {
  margin: 0 2rem 2rem 0;
  position: relative;

  &-placeholder {
    align-items: center;
    background: var(--theme-surface-1);
    border: 1px solid var(--theme-accent-line-1-transparent);
    border-radius: 0.625rem;
    box-sizing: border-box;
    display: flex;
    height: 12.5rem;
    justify-content: center;
    width: 12.5rem;

    &-plus-sign {
      width: 2.5rem;
    }
  }

  &-contents {
    width: 12.5rem;
  }

  &-editable-icon {
    filter: invert(var(--theme-invert-percent));
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  &-image-container {
    background-color: var(--theme-background);
    border: 1px solid var(--theme-accent-line-2);
    border-radius: 0.625rem;
    box-sizing: border-box;
    height: 12.5rem;
    overflow: hidden;
    padding: 1rem;
    width: 12.5rem;

    .out-of-stock & {
      background-color: var(--theme-background);
    }
  }

  &-image {
    height: 100%;
    object-fit: cover;
    width: 100%;

    .out-of-stock & {
      opacity: 0.5;
    }
  }

  &-name {
    color: var(--theme-text-on-background-1);
    font-size: 1.25rem;
  }

  &.hidden {
    background-color: #eee;
  }
}
