.leaderboard {
  font-family: 'DM Sans', sans-serif;

  > * {
    max-width: 1700px;
    width: 90%;
  }

  .top-three {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;

    > * {
      margin: 10px 0;
    }
  }

  .four-and-more {
    border-radius: 10px;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .leaderboard {
    > * {
      width: 100%;
    }

    .top-three {
      justify-content: center;
    }
  }
}
