.leaderboard {

  > * {
    width: 90%;
  }

  .top-three {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;

    > * {
      margin: 10px 0;
    }
  }

  .four-and-more {
    border-radius: 10px;
    overflow: hidden;
  }
  .paginate-wrapper {
    margin-top: 12px;
  }
}

@media screen and (max-width: 768px) {
  .leaderboard {
    > * {
      width: 100%;
    }
  }
}
