.store-header {
  align-items: center;
  color: #333;
  display: flex;
  height: 3.125rem;
  justify-content: space-between;
  padding: 0 1.5rem;

  &-title {
    font-size: 2.25rem;
    font-weight: 700;
  }

  &-breadcrumb {
    align-items: center;
    display: flex;

    &-arrow {
      margin-right: 1.5rem;
    }

    &-text {
      font-size: 1.375rem;
      vertical-align: middle;
    }
  }

  &-right {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &-cart {
    align-items: center;
    background: #fff;
    border: 1.5px solid rgba(239, 239, 239, 0.5);
    border-radius: 6.5px;
    box-shadow: 0 0.8px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    height: 3.125rem;
    justify-content: center;
    margin-left: 1rem;
    position: relative;
    width: 11.25rem;

    &-text {
      font-size: 1.125rem;
    }

    &-placeholder {
      margin-left: 1rem;
      width: 11.25rem;
    }

    &-pics {
      position: absolute;
      right: 1.5rem;
      top: 0.75rem;
    }

    &-icon {
      height: 22px;
      width: 27px;
    }

    &-badge {
      align-items: center;
      background-color: #e76f6f;
      border-radius: 50%;
      color: #fff;
      display: flex;
      font-family: 'Roboto', sans-serif;
      font-size: 10px;
      font-weight: 500;
      height: 20px;
      justify-content: center;
      position: absolute;
      right: -10px;
      top: -7.5px;
      width: 20px;
    }
  }
}
