@import '../../styles/fonts.less';
@import '../../styles/vars.less';

.navbar-vertical {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  color: #333333;
  display: inline-block;
  font-size: @nav-body;
  height: 100%;
  line-height: 50px;
  min-height: 100vh;
  padding: 30px 30px 0 100px;

  .title {
    color: rgba(51, 51, 51, 0.3);
    font-size: @nav-heading;
    font-weight: bold;
    margin: 0;
  }

  .selected {
    color: @blue-1;
  }
}
