.admin-item-page {
  margin-top: 2rem;

  &-title {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &-form {
    display: flex;
    flex-direction: column;

    &-field {
      display: flex;
      flex-direction: row;
      padding-bottom: 1.25rem;

      &-label {
        font-size: 1.25rem;
        width: 12rem;
      }

      &-value {
        font-size: 1rem;
      }
    }

    .store-dropdown {
      width: 25rem;
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 1.25rem;
      width: 37rem;
    }
  }
}
