@import "../../../styles/vars.less";

.about-page {
  background-color: var(--theme-background);
  color: var(--theme-text-on-background-1);
  font-size: @general-body;

  .description {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .title {
    align-items: center;
    display: flex;

    h1 {
      color: var(--theme-text-on-background-1);
      font-size: @general-heading-1;
      margin: 0 0 0 20px;
    }
  }

  .socials {
    a {
      color: var(--theme-text-on-background-1);
      display: block;
      margin-bottom: 10px;

      &:hover {
        color: var(--theme-primary-4);
      }

      .icon {
        margin-right: 10px;
      }
    }
  }
}
