@import "../../../styles/vars.less";

.about-page {
  background-color: @@theme-background;
  font-size: @general-body;
  color: @@theme-text-on-background-1;

  .description {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .title {
    align-items: center;
    display: flex;

    h1 {
      font-size: @general-heading-1;
      margin: 0 0 0 20px;
      color: @@theme-text-on-background-1
    }
  }

  .socials {
    a {
      color: @@theme-text-on-background-1;
      display: block;
      margin-bottom: 10px;

      &:hover {
        color: @@theme-primary-1;
      }

      .icon {
        margin-right: 10px;
      }
    }
  }
}
