@import "../../../styles/vars.less";

.auth-card {
  align-items: center;
  background: @@theme-primary-2;
  border-radius: 10px;
  color: @@theme-background;
  display: flex;
  flex-direction: column;
  height: @password-height;
  justify-content: center;
  text-align: center;
  width: @sign-in-width;

  h1 {
    color: @@theme-background;
    font-size: @card-heading-2;
    margin-top: 24px;
  }

  h3 {
    color: @@theme-background;
    margin-bottom: 24px;
  }

  .link:hover {
    opacity: 0.8;
  }
}
