@import '../../styles/vars.less';

.item-card{

    border: 5px solid @gray-4;
    margin: 15px;
    display: inline-block;
    width: @item-card-width;
    height: @item-rectangle-height;
    font-family: Roboto;
    padding: 0px 30px;

}

.item-card:first-of-type {
    margin-left: 0px;
}