@import '../../styles/vars.less';

.item-card {
  border: 5px solid @gray-4;
  display: inline-block;
  font-family: Roboto;
  height: @item-rectangle-height;
  margin: 15px;
  margin-right: 30px;
  margin-left: 0px;
  padding: 0 30px;
  width: @item-card-width;
}

.item-card:first-of-type {
  margin-left: 0;
}
