# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  lint:
    docker:
      - image: circleci/node:14.18.2
    steps:
      - checkout
      - restore_cache:
          key: package-cache-{{checksum "package.json"}}
      - run:
          command: yarn install
      - save_cache:
          key: package-cache-{{checksum "package.json"}}
          paths:
            - node_modules
      - run:
          command: yarn run lint

  test:
    docker:
      - image: circleci/node:10.16.2
    steps:
      - checkout
      - restore_cache:
          key: package-cache-{{checksum "package.json"}}
      - run:
          command: yarn install
      - save_cache:
          key: package-cache-{{checksum "package.json"}}
          paths:
            - node_modules
      - run:
          command: yarn test

  coveralls:
    docker:
      - image: circleci/node:10.16.2
    steps:
      - checkout
      - restore_cache:
          key: package-cache-{{checksum "package.json"}}
      - run:
          command: yarn install
      - save_cache:
          key: package-cache-{{checksum "package.json"}}
          paths:
            - node_modules
      - run:
          command: yarn run coveralls

workflows:
  version: 2
  weekly_rebase:
    jobs:
      - lint:
          filters:
            tags:
              only: /^(v\d*\.\d*\.\d*)(?:-(\w*\d*))?/
            branches:
              ignore: /.*/
      - test:
          filters:
            tags:
              only: /^(v\d*\.\d*\.\d*)(?:-(\w*\d*))?/
            branches:
              ignore: /.*/
  test_and_deploy:
    jobs:
      - lint
      - test
      # TODO: reimplement coveralls for unit testing
      # - coveralls:
      #     requires:
      #       - lint
      #       - test
      #     filters:
      #       branches:
      #         only: master
