@import "../../../styles/vars.less";
.option-selector {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.75rem -0.75rem 0;

  .option {
    align-items: center;
    background: var(--theme-surface-2);
    color: var(--theme-text-on-surface-2);
    border: 1px solid var(--theme-accent-line-2);
    border-radius: 0.625rem;
    color: var(--theme-text-on-background-1);
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    height: 2.5rem;
    margin: 0 0.75rem 0.75rem 0;
    min-width: 4.25rem;
    padding: 0 1rem;
    transition: border 0.3s;

    &:focus,
    &:hover {
      border-color: var(--theme-primary-5);
    }

    &.selected {
      border: 1px solid var(--theme-primary-5);
      color: var(--theme-primary-5);
    }

    &:disabled {
      background: var(--theme-background);
      border: 1px solid var(--theme-accent-line-2);
      color: var(--theme-disabled);
      cursor: not-allowed;
    }
  }
}
