.button-hover() {
  cursor: pointer;
  transition: opacity 200ms;
  transition: transform 200ms;

  &:hover {
    opacity: 0.85;
    transform: translateY(-1px);
  }
}

.ant-select-arrow-icon {
  svg {
    fill: var(--theme-text-on-background-1);
  }
}

.store-dropdown-arrow {
  border-color: var(--theme-text-on-background-1) transparent transparent;
}

.store-dropdown .is-open .store-dropdown-arrow {
  border-color: transparent transparent var(--theme-text-on-background-1);
}

.ant-select-selection__placeholder {
  color: var(--theme-text-on-background-1) !important;
}
