// Theme
@theme: dark;

@theme-primary-1: "@{theme}-primary-1"; //this will evaluate to "dark-primary"
@theme-primary-2: "@{theme}-primary-2"; //this will evaluate to "dark-primary-2"
@theme-primary-3: "@{theme}-primary-3"; //this will evaluate to "dark-primary-3"
@theme-primary-4: "@{theme}-primary-4"; //this will evaluate to "dark-primary-4"
@theme-primary-5: "@{theme}-primary-5"; //this will evaluate to "dark-primary-5"
@theme-primary-6: "@{theme}-primary-6"; //this will evaluate to "dark-primary-6"

@theme-success-1: "@{theme}-success-1"; //this will evaluate to "dark-success"
@theme-success-2: "@{theme}-success-2"; //this will evaluate to "dark-success"

@theme-danger-1: "@{theme}-danger-1"; //this will evaluate to "dark-danger"

@theme-gold: "@{theme}-gold"; //this will evaluate to "dark-gold"
@theme-silver: "@{theme}-silver"; //this will evaluate to "dark-silver"
@theme-bronze: "@{theme}-bronze"; //this will evaluate to "dark-bronze"

@theme-invert-percent: "@{theme}-invert-percent"; //this will evaluate to "dark-invert-percent"

@theme-disabled: "@{theme}-disabled"; //this will evaluate to "dark-disabled"

@theme-background: "@{theme}-background"; //this will evaluate to "dark-background"

@theme-surface-1: "@{theme}-surface-1"; //this will evaluate to "dark-surface"
@theme-surface-2: "@{theme}-surface-2"; //this will evaluate to "dark-surface-2"

@theme-accent-line-1: "@{theme}-accent-line-1"; //this will evaluate to "dark-accent-border"
@theme-accent-line-2: "@{theme}-accent-line-2"; //this will evaluate to "dark-accent-border-2"

@theme-text-on-background-1: "@{theme}-text-on-background-1"; //this will evaluate to "dark-text"
@theme-text-on-background-2: "@{theme}-text-on-background-2"; //this will evaluate to "dark-text"

@theme-text-on-surface-1: "@{theme}-text-on-surface-1"; //this will evaluate to "dark-text"
@theme-text-on-surface-2: "@{theme}-text-on-surface-2"; //this will evaluate to "dark-text"


// Colors
@blue-100: #bed9e6;
@blue-200: #62b0ff;
@blue-300: #2c72c6;
@blue-400: #22acea;
@blue-500: #0659bc;
@blue-600: #0659bc33;


@red: #ef626c;
@green-100: #56c561;
@green-200: #00ae11;

@white: #ffffff;

@gray-100: #fafafa;
@gray-200: #f4f4f4;
@gray-300: #f8f8f8;
@gray-400: #e4e4e4;
@gray-500: #c4c4c4;
@gray-600: #979797;
@gray-700: #525252;
@gray-800: #37393e;
@gray-900: #2e3036;

@black: #000000d9;


@light-bronze: #eecb97;
@light-silver: #c0dae0;
@light-gold: #fce183;

@dark-bronze: #c3a77d;
@dark-silver: #95a7ac;
@dark-gold: #ccb76b;


// Light Theme
@light-primary-1: @blue-400; // circle background, link hover, progress bar
@light-primary-2: @blue-500; // event card links, arrow hover
@light-primary-3: @blue-300;
@light-primary-4: @blue-100;
@light-primary-5: @blue-200; // profile card borders, buttons, nav bar current item, collection header
@light-primary-6: @blue-600; // event card borders

@light-success-1: @green-100;
@light-success-2: @green-200;

@light-danger-1: @red;

@light-invert-percent: 0%;

@light-disabled: @gray-600; // disabled elements

@light-background: @white; // page background

@light-surface-1: @gray-200; // table rows
@light-surface-2: @gray-300; // nav bar background

@light-accent-line-1: @gray-900; // heavy accent lines and gray borders
@light-accent-line-2: @gray-400; // light accent lines and gray borders

@light-text-on-background-1: @gray-900; // text on primary titles and input borders
@light-text-on-background-2: @gray-700; // text on primary subtitles (LVL, Dates)

@light-text-on-surface-1: @gray-900; // dark text on sidebar
@light-text-on-surface-2: @gray-500; // light titles on sidebar



// Dark Theme
@dark-primary-1: #3dbeff; // circle background, link hover, progress bar
@dark-primary-2: @blue-500; // event card links and links
@dark-primary-3: #6cb5fd;
@dark-primary-4: @blue-100;
@dark-primary-5: rgb(112, 192, 231); // profile card borders, buttons, nav bar current item, collection header
@dark-primary-6: #97c8f8; // event card borders

@dark-success-1: @green-100;
@dark-success-2: @green-200;

@dark-danger-1: @red;

@dark-invert-percent: 100%;

@dark-disabled: @gray-600; // disabled elements

@dark-background: @gray-800; // page background

@dark-surface-1: @gray-700; // table rows (light)
@dark-surface-2: @gray-900; // nav bar background (dark)

@dark-accent-line-1: @black; // accent line on event cards
@dark-accent-line-2: @gray-400; // accent line on event cards

@dark-text-on-background-1: @white; // text on primary titles and input borders
@dark-text-on-background-2: @white; // text on primary subtitles (LVL, Dates)

@dark-text-on-surface-1: @white; // dark text on sidebar
@dark-text-on-surface-2: @white; // light titles on sidebar




// Font Sizes
@general-heading-1: 2.5rem;
@general-heading-2: 2rem;
@general-heading-3: 1.5rem;
@general-heading-4: 1rem;
@general-body: 1.125rem;

@card-heading-1: 1.5rem;
@card-heading-2: 1rem;
@card-heading-3: 0.875rem;
@card-body: 0.75rem;

@list-number: 1.25rem;
@list-heading: 0.9375rem;
@list-body: 0.75rem;
@list-caption: 0.375rem;

@nav-heading: 1.75rem;
@nav-body: 1.125rem;
@nav-caption: 0.875rem;

@sign-in-heading: 1.25rem;
@sign-in-paragraph: 0.75rem;

// Component Sizes
@db-card-width: 400px;
@db-card-height: 200px;

@event-width: 270px;
@event-height: 280px;
@event-extended-height: 400px;
@event-img-height: 140px;

@leaderboard-card-width: 270px;
@leaderboard-card-height: 220px;
@leaderboard-item-width: 80%;
@leaderboard-item-height: 70px;

@nav-drop-width: 200px;
@nav-header-height: 90px;

@sign-in-width: 440px;
@sign-in-height: 560px;
@register-height: 760px;
@password-height: 324px;
@reset-height: 450px;
@button-height: 40px;
@button-height-2: 37px;
@button-width: 260px;
@form-dropdown-width: 80px;

@profile-input-width: 300px;
@profile-input-height: 49px;
@text-input-height: 150px;
@major-width: 234px;
@year-width: 149px;
@save-button-width: 226px;
@discard-button-width: 104px;
@link-button-width: 200px;
@button-height: 49px;
