// Colors
@blue-1: #22acea;
@blue-2: #0659bc;
@blue-3: #2c72c6;
@blue-4: #bed9e6;
@blue-5: #62b0ff;
@white: #ffffff;
@gray-1: #fafafa;
@gray-2: #f4f4f4;
@gray-3: #e4e4e4;
@gray-4: #979797;
@gray-5: #7f7f7f;
@black: #333333;

@bronze: #eecb97;
@silver: #c0dae0;
@gold: #fce183;

@red: #ef626c;
@green-1: #56c561;
@green-2: #00ae11;

// Font Sizes
@general-heading-1: 2.5rem;
@general-heading-2: 2rem;
@general-heading-3: 1.5rem;
@general-heading-4: 1rem;
@general-body: 1.125rem;

@card-heading-1: 1.5rem;
@card-heading-2: 1rem;
@card-heading-3: 0.875rem;
@card-body: 0.75rem;

@list-number: 1.25rem;
@list-heading: 0.9375rem;
@list-body: 0.75rem;
@list-caption: 0.375rem;

@nav-heading: 1.75rem;
@nav-body: 1.125rem;
@nav-caption: 0.875rem;

@sign-in-heading: 1.25rem;
@sign-in-paragraph: 0.75rem;

// Component Sizes
@db-card-width: 400px;
@db-card-height: 200px;

@event-width: 270px;
@event-height: 280px;
@event-extended-height: 400px;
@event-img-height: 140px;

@leaderboard-card-width: 270px;
@leaderboard-card-height: 220px;
@leaderboard-item-width: 80%;
@leaderboard-item-height: 70px;

@nav-drop-width: 200px;
@nav-header-height: 90px;

@sign-in-width: 440px;
@sign-in-height: 560px;
@register-height: 760px;
@password-height: 324px;
@reset-height: 450px;
@button-height: 40px;
@button-height-2: 37px;
@button-width: 260px;
@form-dropdown-width: 80px;

@profile-input-width: 300px;
@profile-input-height: 49px;
@text-input-height: 150px;
@major-width: 234px;
@year-width: 149px;
@save-button-width: 226px;
@discard-button-width: 104px;
@link-button-width: 200px;
@button-height: 49px;
