.credits-display {
  align-items: center;
  display: flex;

  .credits-icon {
    height: 13px;
    margin-right: 5px;
    width: 13px;
  }

  .credits-text {
    font-size: 22px;
    font-weight: bold;
  }
}
