@import '../../styles/fonts.less';
@import '../../styles/vars.less';

.nav-item {
  color: @black;
  font-family: 'Roboto';
  font-size: @nav-body;

  &:hover {
    color: @blue-1;
    fill: @blue-1;
  }

  span {
    margin-left: 10px;
  }
}

.blue {
  fill: blue;
}
