@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";

.header-container {
  .header-padding {
    height: calc(@nav-header-height + 5px);
  }

  .header-content {
    position: fixed;
    z-index: 1000;

    .header {
      align-items: center;
      background: white;
      color: white;
      display: flex;
      font-size: @nav-heading;
      height: @nav-header-height;
      padding: 0 40px;
      user-select: none;

      .title {
        color: #333;

        .logo {
          height: 55px;
          margin-right: 16px;
          width: 55px;
        }

        .subheading {
          font-weight: 700;
          vertical-align: middle;
        }
      }

      .profile {
        display: none;
        position: absolute;
        right: 40px;
      }
    }

    .wainbow {
      background:
        -webkit-gradient(
          linear,
          right top,
          left top,
          from(#e981a0),
          color-stop(18.75%, #f9a857),
          color-stop(36.98%, #80ce1c),
          color-stop(55.73%, #51c0c0),
          color-stop(75%, #62b0ff),
          to(#816dff)
        );
      background:
        linear-gradient(
          270deg,
          #e981a0,
          #f9a857 18.75%,
          #80ce1c 36.98%,
          #51c0c0 55.73%,
          #62b0ff 75%,
          #816dff
        );
      display: table;
      height: 5px;
      width: 100vw;
    }
  }
}

@media (max-width: 768px) {
  .header-container {
    .header-content {
      .header {
        .title {
          .subheading {
            display: none;
          }
        }

        .profile {
          display: block;
        }
      }
    }
  }
}
