@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";

.header-container {
  .header-padding {
    height: calc(4rem + 0.25rem);
  }

  .header-content {
    position: fixed;
    z-index: 1000;

    .header {
      align-items: center;
      background-color: var(--theme-background);
      display: flex;
      height: 4rem;
      padding: 0 1rem;
      user-select: none;

      .title {
        .logo {
          height: 3rem;
          margin-right: 1rem;
          width: 3rem;
        }

        .subheading {
          color: var(--theme-text-on-background-1);
          font-size: @general-heading-3;
          font-weight: 700;
          vertical-align: middle;
        }
      }

      .mode-switch {
        position: absolute;
        right: 40px;
      }

      .ant-switch {
        background-color: var(--theme-surface-2);
      }

      .ant-switch-checked {
        background-color: var(--theme-surface-2);
      }

      .ant-switch::after {
        background-color: var(--theme-primary-2);
      }

      .ant-switch-inner {
        align-items: center;
        display: inline-flex;
        transition: all 0.5s ease;
      }

      .moon-icon {
        color: var(--theme-silver);
        font-size: 1em;
        margin-top: 0.3em;
      }

      .sun-icon {
        color: var(--theme-text-on-background-3);
        font-size: 1.2em;
        margin-top: 0.15em;
      }

      .profile {
        display: none;
        position: absolute;
        right: 40px;
      }
    }

    .wainbow {
      background:
        -webkit-gradient(
          linear,
          right top,
          left top,
          from(#e981a0),
          color-stop(18.75%, #f9a857),
          color-stop(36.98%, #80ce1c),
          color-stop(55.73%, #51c0c0),
          color-stop(75%, #62b0ff),
          to(#816dff)
        );
      background:
        linear-gradient(
          270deg,
          #e981a0,
          #f9a857 18.75%,
          #80ce1c 36.98%,
          #51c0c0 55.73%,
          #62b0ff 75%,
          #816dff
        );
      display: table;
      height: 4px;
      width: 100vw;
    }
  }
}

@media (max-width: 768px) {
  .header-container {
    .header-content {
      .header {
        .title {
          .subheading {
            display: none;
          }
        }

        .mode-switch {
          left: 0.1rem;
          position: relative;
        }

        .profile {
          display: block;
        }
      }
    }
  }
}
