@import "../../../styles/vars.less";

.nav-dropdown {
  background-color: @@theme-background;
  border-radius: 2px;
  filter: drop-shadow(0 0 5px @@theme-accent-line-1);
  font-size: @nav-caption;
  line-height: 2rem;
  padding: 10px 20px;
  position: relative;
  width: @nav-drop-width;
  z-index: 2;

  &::after {
    border-color: @@theme-background transparent;
    border-style: solid;
    border-width: 0 15px 20px;
    content: "";
    display: block;
    margin-left: -15px;
    position: absolute;
    right: 10px;
    top: -14px;
    width: 0;
    z-index: 1;
  }

  .nav-list-item {
    &:hover {
      background-color: @@theme-background;
    }

    span {
      color: @@theme-text-on-background-1;
    }
  }

  .logout {
    color: @@theme-danger-1;
    cursor: pointer;
    padding-left: 10px;

    &:hover {
      background-color: @@theme-surface-1;
    }
  }
}
