@import "../../../styles/vars.less";

.checkout-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 12.5rem; // Prevent quantity dropdown from getting cut off
  margin-top: 2rem;
  width: fit-content;

  .store-button {
    align-self: flex-end;
    margin-top: 1.5rem;
  }
}
