.store-admin-page {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  .store-button {
    margin-bottom: 1.5rem;
  }

  &-divider {
    background-color: #c4c4c4;
    height: 0.125rem;
    margin-bottom: 1.5rem;
    width: 18.75rem;
  }
}
