@import "../../../styles/vars.less";

.add-attendance-form {
  display: flex;
  width: 50%;

  .subtitle {
    color: var(--theme-primary-3);
    font-size: @general-heading-2;
    font-weight: 700;
  }

  label {
    color: var(--theme-primary-3);
    font-size: @form-label-small;
    font-weight: 500;

    &::after {
      content: "";
    }

    span {
      color: var(--theme-text-on-background-2);
      font-weight: 400;
    }
  }

  h1 {
    color: var(--theme-text-on-background-2);
    font-size: @general-heading-1;
    font-weight: 700;
  }

  .input-box {
    .input-style;

    width: 100%;
  }

  .ant-select-selection {
    background-color: var(--theme-surface-2);
    color: var(--theme-text-on-surface-1);
  }

  .save-button {
    background-color: var(--theme-success-1);
    border-color: var(--theme-success-2);
    font-size: @general-body;
    font-weight: 500;
    height: @button-height;
    margin-right: 20px;
  }

  .discard-button {
    background-color: var(--theme-background);
    border-color: var(--theme-danger-1);
    color: var(--theme-danger-1);
    font-size: @general-body;
    font-weight: 500;
    height: @button-height;
    width: @discard-button-width;
  }

  .ant-form-item-label {
    line-height: 30px;
  }

  .points-wrapper {
    width: 100%;

    .points {
      .input-style;
    }
  }

  .attendees-list-wrapper {
    .attendee-input {
      width: 90px;
    }

    .attendee-tag {
      font-size: @card-body;
    }

    .add-new-attendee {
      background: var(--theme-background);
      border-style: dashed;
      color: var(--theme-text-on-background-2);
      font-size: @card-body;
    }
  }

  .input-style() {
    background-color: var(--theme-surface-1);
    border-color: var(--theme-accent-line-1);
    color: var(--theme-text-on-surface-1);
    font-size: @general-body;
    height: @profile-input-height;
  }

  .area-box {
    .input-style;

    font-size: @form-area-box;
    height: @text-input-height;
    width: 100%;
  }
}
