@import "../../../styles/vars.less";

.Resend-Email-verification-page {
  color: var(--theme-text-on-background-1);

  .sending-button {
    font-size: @general-heading-1;
    height: @general-heading-1 * 2;
  }

  h1 {
    font-size: @general-heading-1;
    font-weight: 700;
  }
}
