@import "../../../styles/vars.less";

.store-color-input {
  align-items: center;
  border: 1px solid var(--theme-accent-line-2-transparent);
  border-radius: 0.625rem;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  overflow: hidden;
  width: 6.25rem;

  &-input {
    border: 0;
    flex-shrink: 0;
    height: 3.5rem;
    width: 7.25rem;
  }
}
