@import "../../../styles/vars.less";

.admin-collection-page {
  margin-top: 2rem;

  &-title {
    font-size: @page-heading;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &-form {
    display: flex;
    flex-direction: column;

    &-field {
      display: flex;
      flex-direction: row;
      padding-bottom: 1.5rem;

      &-group {
        display: flex;
        justify-content: space-between;
        width: 25rem;
      }

      &-label {
        font-size: @form-label;
        width: 12rem;
      }
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      width: 37rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
