.admin-prepare-page {
  color: #333;
  margin-top: 2rem;

  &-title {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
  }

  &-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &-secondary {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 10px;
  }

  &-table {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    &-table {
      width: 60%;
    }
  }
}
