@import '../../styles/vars.less';

.collection {

  .new-item-card {

    border: 1px solid @gray-5;
    border-radius: 13px;
    box-shadow: 0px 4px 4px @gray-5;
    font-family: Roboto;

    p {
      text-align: center;
      margin-top: 67px;
      color: #c4c4c4;
      font-size: @general-heading-1;
    }

    span {
      width: 100%;

      svg {
        color: #c4c4c4;
        height: 50px;
        width: 50px;
      }
    }

  }

}