@import '../../styles/vars.less';

.event-card {
  border: 2px solid rgba(6, 89, 188, 0.2);
  border-radius: 10px;
  height: @event-height;
  font-family: Roboto;
  overflow: hidden;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: @event-width;

  img {
    height: 60%;
    margin: 0;
    object-fit: cover;
    width: 100%;
  }

  .description {
    padding: 5% 10%;
    width: 70%;

    > * {
      margin: 0;
    }

    .title {
      font-weight: bold;
      font-size: @card-heading-2;
    }
  }

  .circle {
    align-items: center;
    display: flex;
    height: 40%;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 60%;
    width: 30%;

    .points {
      position: absolute;
    }
  }
}
