@import '../../styles/fonts.less';
@import '../../styles/vars.less';

.password-card {
  padding-top: 64px;

  .title {
    color: @black;
    font-size: 48px;
    margin: 24px 0;
    font-weight: 600;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .email-container {
    position: relative;

    .icon {
      position: absolute;
      top: 6.5px;
      left: 8px;
    }

    .input-box {
      height: 28px;
      width: 300px;
      border: none;
      border-bottom: 1px solid @black;
      margin-bottom: 20px;
      padding-left: 34px;
    }
  }

  .submit {
    background-color: #62b0ff;
    border: none;
    border-radius: 100px;
    height: 40px;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
  }
}
