@import '../../styles/fonts.less';
@import '../../styles/vars.less';

.passwordcard {
  align-items: center;
  background: @blue-2;
  border-radius: 10px;
  color: @white;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  height: @password-height;
  justify-content: center;
  width: @sign-in-width;

  h1 {
    color: @white;
    font-size: @card-heading-2;
    margin-top: 24px;
  }

  label {
    color: @white;
    font-family: 'Nunito';
    font-size: @general-body;
  }

  .logo {
    height: 115px;
    margin-bottom: 10px;
    width: 115px;
  }

  .input-box {
    height: @button-height-2;
    margin-right: 10px;
    width: 200px;
  }

  .password-reset {
    background-color: @blue-1;
    border: 2px solid @blue-2;
    color: @white;
    height: 40px;
    min-width: 100px;
    padding: 6px 11px;
    width: calc(100% - 220px);
  }
}
