@import "../../../styles/vars.less";

.File-Upload {
  input {
    display: none;
  }

  .upload-area {
    background: @gray-400;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 100%;
  }

  .done {
    background: @green-100;

    span {
      color: @white;
    }
  }
}
