@import '../../styles/fonts.less';
@import '../../styles/mixins.less';
@import '../../styles/vars.less';

.nav-width {
  width: @nav-drop-width;
}

.nav-profile {
  .noselect;

  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: @nav-body;
  height: @nav-header-height;
  position: relative;
  width: @nav-drop-width;
  white-space: nowrap;

  &:hover {
    .arrow {
      color: white;
    }
  }

  .name {
    margin: 0px 40px 0px 10px;
    -ms-overflow-style: none;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .name::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .arrow {
    color: @blue-1;
    font-size: @nav-heading;
    position: absolute;
    right: 10px;
  }

  .avatar {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
  }
}
