@import "../../../styles/vars.less";

.menu {
  background-color: var(--theme-surface-2);
}

.menu-item:hover {
  background-color: var(--theme-surface-1);
}

.home-page {
  background-color: var(--theme-background);
  color: var(--theme-text-on-background-1);

  .border {
    border-top: 1px solid var(--theme-accent-line-2-transparent);
    margin: 0 -5vw;
    width: calc(100% + 10vw);

    &.spaced {
      margin-top: 40px;
    }
  }

  .dashboard {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    justify-content: center;
    gap: 5%;

    > div {
      margin-bottom: 50px;
      width: 45%;
      flex-grow: 1; 
    }

    .profile-card {
      background-color: inherit;
    }
  }

  .title {
    font-size: @general-heading-1;
    font-weight: 700;
  }

  .subtitle {
    font-size: @general-heading-2;
    font-weight: 700;
    margin: 40px 0;
  }

  .top {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    .subtitle {
      margin-bottom: 8px;
    }
  }

  .ant-dropdown-link {
    color: var(--theme-text-on-background-1);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;

    svg {
      filter: invert(var(--theme-invert-percent));
      margin-left: 5px;
    }
  }
}

.event-timeframe {
  color: var(--theme-text-on-background-1);
  font-size: @timeframe-text;
}

@media screen and (max-width: 768px) {
  .home-page {
    .dashboard {
      justify-content: center;

      > div {
        width: @db-card-width;
      }

      .profile-card {
        background-color: inherit;
        margin-right: 0;
      }
    }
  }
}
