@import '../../styles/vars.less';

.order-item {
  max-width: 100%;
  min-width: 100%;
}

.item-checkbox {
  font-size: @general-heading-2 * 0.6;
}

.item-quantity {
  text-align: right;
}

.item-name {
  font-size: @general-heading-2 * 0.6;
  font-weight: 500;
}

.item-notes {
  font-size: @general-heading-2 * 0.6;
  text-align: right;
}
