.admin-fulfill-page {
  color: #333;
  margin-top: 1rem;

  &-title {
    font-size: 2rem;
    font-weight: 700;
  }

  &-hint {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .store-dropdown {
    margin-top: 0.75rem;
  }

  .store-button {
    margin-top: 1.5rem;
  }
}
