@import '../../styles/fonts.less';
@import '../../styles/vars.less';

.registercard {
  align-items: center;
  background: @blue-2;
  border-radius: 10px;
  display: flex;
  font-family: 'Roboto';
  height: @register-height;
  justify-content: center;
  text-align: center;
  width: @db-card-width;
  label {
    color: @white;
    font-family: 'Nunito';
  }
  h1 {
    color: @white;
    font-family: 'Nunito';
    font-size: @sign-in-heading;
    margin: 24px 0px 12px 0px;
  }
  p {
    color: @white;
    font-size: @sign-in-paragraph;
    margin-bottom: 24px;
    text-align: left;
    &:hover {
      opacity: 0.9;
    }
  }
  .ant-form-item-label {
    line-height: 30px;
  }
  .formitems {
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: left;
  }
  .horizontalitems {
    display: flex;
    text-align: left;
    justify-content: space-between;
	width: @button-width;
    .firstname {
      width: 140px;
    }
    .lastname {
      width: 110px;
    }
    .major {
      width: 170px;
    }
    .year {
      width: 80px;
    }
  }
  .input-box {
    height: @button-height-2;
    width: @button-width;
  }
  .register {
    margin: 19px 0px;
    .register-button {
      background-color: @blue-1;
      border: none;
      font-family: 'Nunito';
      height: @button-height;
      width: @button-width;
    }
  }
}
