@import '../../styles/fonts.less';
@import '../../styles/vars.less';

.registercard {
  align-items: center;
  background: @blue-2;
  border-radius: 10px;
  display: flex;
  height: @register-height;
  justify-content: center;
  text-align: center;
  width: @db-card-width;

  label {
    color: @white;
  }

  h1 {
    color: @white;
    font-size: @sign-in-heading;
    margin: 24px 0 12px 0;
  }

  p {
    color: @white;
    font-size: @sign-in-paragraph;
    margin-bottom: 24px;
    text-align: left;

    &:hover {
      opacity: 0.9;
    }
  }

  .ant-form-item-label {
    line-height: 30px;
  }

  .formitems {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: left;
  }

  .horizontalitems {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: @button-width;

    .firstname {
      width: 140px;
    }

    .lastname {
      width: 110px;
    }

    .major {
      width: 170px;
    }

    .year {
      width: 80px;
    }
  }

  .input-box {
    height: @button-height-2;
    width: @button-width;
  }

  .register {
    margin: 19px 0;

    .register-button {
      background-color: @blue-1;
      border: none;
      height: @button-height;
      width: @button-width;
    }
  }
}
