@import "../../../styles/vars.less";

.admin-quantities-page {
  color: var(--theme-text-on-background-1);
  margin-top: 2rem;

  &-title {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
  }

  &-collection {
    font-size: 1.5rem;
    margin-top: 1rem;

    &-title {
      font-weight: 500;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &-item {
    font-size: 1.25rem;
    margin-top: 0.5rem;

    &-title {
      font-weight: 500;
    }

    &:first-child {
      margin-top: 0;
    }

    &-options {
      display: flex;
    }
  }

  &-option {
    font-size: 1.25rem;
    margin-left: 0.5rem;

    &:first-child {
      margin-left: 0;
    }
  }
}
