@import "../../../styles/vars.less";

.admin-page {
  .title {
    font-size: @general-heading-1;
    font-weight: 700;
    color: var(--theme-text-on-background-1);
  }

  .admin-redirect-button {
    font-size: @card-heading-1;
    height: @card-heading-1 * 1.5;
    margin-bottom: 12px;
    margin-right: 12px;
    min-width: @button-width;
    border-color: var(--theme-accent-line-1);
    background-color: var(--theme-surface-2);
    color: var(--theme-text-on-surface-1);
    &:hover {
      background-color: var(--theme-surface-1);
    }
  }
}
