@import '../../../../styles/vars.less';

.Item-Mini-Display {
  .item-meta-wrapper {
    display: inline-block;
    font-size: @card-heading-3;
    margin-top: 1rem;

    .item-name {
      font-size: @card-heading-1;
      font-weight: 600;
    }

    .edit-action {
      margin-right: 1rem;
    }

    .action {
      cursor: pointer;
      text-decoration: underline;
    }

    .item-meta-2 {
      margin-bottom: 1rem;
    }
  }

  .image-display-wrapper {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    display: inline-block;
    height: 240px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    width: auto;

    .image-display {
      height: 100%;
    }
  }

  @media screen and (max-width: 900px) {
    .image-display-wrapper {
      height: 140px;
    }

    .item-meta-wrapper {
      font-size: @card-heading-3;
    }
  }
}
