@import '../../styles/vars.less';

.card {
    height: 550px;
    width: 400px;
    background: @gray-1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    // align-items: center;
}