@import '../../styles/fonts.less';
@import '../../styles/vars.less';

.card {
  align-items: center;
  background: @blue-2;
  border-radius: 10px;
  display: flex;
  font-family: 'Roboto';
  height: @sign-in-height;
  justify-content: center;
  text-align: center;
  width: @db-card-width;

  .title {
    color: @white;
    font-family: 'Nunito';
    font-size: @sign-in-heading;
    margin-top: 36px;
  }

  .image {
    height: 150px;
    margin-bottom: 48px;
    object-fit: cover;
    width: 266px;
  }

  .button {
    background-color: @blue-1;
    border: none;
    font-family: 'Nunito';
    height: @button-height;
    width: @button-width;
  }
}
