@import '../../styles/vars.less';

.collection {
  .ant-input-group-wrapper {
    margin-right: 20px;
    width: fit-content;

    input {
      border-color: black;
      border-right: none;
      color: black;
      font-size: @general-heading-2;
      font-weight: 600;
      padding: 20px 8px;
    }

    svg {
      color: black;
      height: 25px;
      width: 25px;
    }

    .ant-input-group-addon {
      background-color: @white;
      border: 1px solid black;
      border-left: none;
    }
  }

  .edit-header {
    display: flex;

    .archive-icon {
      border: 2px solid black;
      border-radius: 8px;
      height: 42px;
      width: 42px;

      svg {
        align-self: center;
        display: flex;
        height: 100%;
        margin: 8px;
        width: 22px;
      }
    }
  }

  textarea {
    margin-top: 20px;
    padding: 5px;
    width: 100%;
  }

  .collection-items {
    display: flex;
    flex-wrap: wrap;
  }
}
