@import '../../styles/fonts.less';
@import '../../styles/vars.less';

.update-card {
  display: flex;
  font-family: 'Roboto';
  width: @db-card-width;
  max-width: 100%;

  label {
    color: @blue-3;
    font-size: @card-heading-2;
    font-weight: 600;
    &:after {
      content: '';
    }
  }

  .updatecontent {
    width: 100%;
    .update-profile-form {
      width: 100%;
    }
  }

  .title {
    font-size: @general-heading-1;
    font-weight: 700;
  }

  .save-button {
    background-color: @green-1;
    border-color: @green-2;
    font-family: 'Nunito';
    font-size: @general-body;
    font-weight: 500;
    height: @button-height;
    margin-bottom: 12px;
    margin-right: 19px;
    width: @save-button-width;
  }
  .discard-button {
    background-color: @white;
    border-color: @red;
    color: @red;
    font-size: @general-body;
    font-weight: 500;
    height: @button-height;
    width: @discard-button-width;
  }

  .horizontal-input {
    display: flex;
    justify-content: space-between;
    width: @db-card-width;
    max-width: 100%;
    flex-wrap: wrap;

    .year {
      height: @profile-input-height;
      vertical-align: top;
      width: @year-width;
      max-width: 100%;
      .ant-select-selection--single {
        .input-style;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }

    .major {
      .input-style;
      width: @major-width;
      max-width: 100%;
    }
  }

  .ant-form-item-label {
    line-height: 30px;
  }

  .input-style() {
    background-color: @gray-1;
    border-color: @gray-4;
    color: @black;
    font-family: 'Nunito';
    font-size: @general-body;
    height: @profile-input-height;
  }

  .area-box {
    .input-style;
    font-size: @card-heading-2;
    height: @text-input-height;
    width: 100%;
  }

  .input-box {
    .input-style;
    max-width: 100%;
  }
}
