@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";

.reset-card {
  padding-top: 64px;

  .title {
    color: var(--theme-text-on-background-1);
    font-size: 48px;
    font-weight: 500;
    margin: 24px 0;
    text-align: center;
  }

  .password-container {
    position: relative;

    .icon {
      left: 9px;
      position: absolute;
      top: 2.5px;
    }

    .input-box {
      border: none;
      border-bottom: 1px solid var(--theme-text-on-background-1);
      font-size: 16px;
      height: 28px;
      margin-bottom: 20px;
      padding-left: 34px;
      width: 300px;
    }
  }

  .submit {
    .button-hover();

    background-color: var(--theme-primary-2);
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    margin-bottom: 20px;
    width: 300px;
  }
}
