@import "../../../styles/vars.less";

.create-event-form {
  display: flex;
  width: 50%;

  .subtitle {
    color: @blue-3;
    font-size: @general-heading-2;
    font-weight: 700;
  }

  label {
    color: @blue-3;
    font-size: @card-heading-2;
    font-weight: 500;

    &::after {
      content: "";
    }
  }

  h1 {
    color: @black;
    font-size: @general-heading-1;
    font-weight: 700;
  }

  .input-box {
    .input-style;

    width: 100%;
  }

  .save-button {
    background-color: @green-1;
    border-color: @green-2;
    font-size: @general-body;
    font-weight: 500;
    height: @button-height;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .discard-button {
    background-color: @white;
    border-color: @red;
    color: @red;
    font-size: @general-body;
    font-weight: 500;
    height: @button-height;
    margin-bottom: 20px;
    margin-right: 20px;
    width: @discard-button-width;
  }

  .link-button {
    background-color: @white;
    border-color: @blue-1;
    color: @blue-1;
    font-size: @general-body;
    font-weight: 500;
    height: @button-height;
    width: @link-button-width;
  }

  .committee-box {
    .input-style;

    .ant-select-selection--single {
      .input-style;

      .ant-select-selection-selected-value {
        line-height: 47px;
      }
    }
  }

  .horizontal-input {
    display: flex;
    justify-content: space-between;

    .ant-select-selection--single {
      .input-style;

      align-items: center;
      display: flex;
      justify-content: center;
    }

    .location-wrapper {
      width: 60%;

      .location {
        .input-style;

        height: @profile-input-height;
        vertical-align: top;
      }
    }

    .points-wrapper {
      width: 30%;

      .points {
        .input-style;
      }
    }

    .date-wrapper {
      width: 45%;

      .date {
        width: 100%;

        .ant-calendar-picker-input {
          .input-style;
        }
      }
    }

    .time-wrapper {
      width: 45%;

      .time {
        width: 100%;

        .ant-time-picker-input {
          .input-style;
        }
      }
    }
  }

  .cover-wrapper {
    .cover {
      .ant-btn {
        .input-style;
      }
    }
  }

  .form-error {
    color: #f66;
    height: 20px;
    white-space: nowrap;
  }

  .ant-form-item-label {
    line-height: 30px;
  }

  .input-style() {
    background-color: @gray-1;
    border-color: @gray-4;
    color: @black;
    font-size: @general-body;
    height: @profile-input-height;
  }

  .area-box {
    .input-style;

    font-size: @card-heading-2;
    height: @text-input-height;
    width: 100%;
  }
}
