@import "../../../styles/vars.less";

.navbar-horizontal {
  color: @@theme-text-on-background-1;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;

  .selected {
    color: @theme-primary-1;

    .divider {
      visibility: visible;
    }

    .nav-tile-item {
      opacity: 1;
    }
  }
}
