@import '../../../styles/vars.less';

.store-page {
  color: @black;

  h1 {
    font-size: @general-heading-1;
    font-weight: 700;
  }

  .collections {
    .collection {
      .collection-header {
        color: #62b0ff;
        font-family: 'DM Sans', sans-serif;
        font-size: 30px;
        font-weight: 700;
      }

      .collection-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
