@import '../../../styles/vars.less';

.store-page {
  .collections {
    padding: 1.5rem 3rem;

    .collection {
      margin-right: -5rem;

      &:last-child {
        margin-bottom: 0;
      }

      .collection-header {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 2rem;
      }

      .collection-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
