@import "../../../styles/vars.less";
.diamond-display {
  align-items: center;
  color: @@theme-text-on-background-1;
  display: flex;
  font-size: 1.125rem;
  width: fit-content;

  * > {
    margin-left: 0.5rem;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }
  }

  &.red,
  .red {
    color: @@theme-danger-1;
  }

  &.strikethrough,
  .strikethrough {
    text-decoration: line-through;
  }
}
