.card {
  align-items: center;
  color: #333333;
  cursor: pointer;
  background: #FAFAFA;
  border-radius: 10px;
  border: 2px solid rgba(6, 89, 188, 0.5);
  display: flex;
  font-family: 'Nunito', sans-serif;
  height: 200px;
  justify-content: center;
  margin: 0;
  width: 400px;
  white-space: nowrap;
  overflow: hidden;

  h2 {
    font-weight: 700;
    margin: 0;
  }

  h3 {
    margin: 0;
  }

  .avatar {
    border: 2px solid rgba(6, 89, 188, 0.5);
  }

  .avatar-flex {
    display: inline-block;
    margin-right: 20px;
  }

  .experience {
    float: right;
  }

  .info {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    overflow-x: scroll;
  }
}
